.App {
  min-height: 100vh;
  position: relative;
}
.toolbar {
  position: absolute;
  z-index: 1000;
  left: 10px;
  bottom: 25px;
}
button {
  display: block;
  background: var(--bg-color-3);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: 48px;
  width: 48px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
